{% load crispy_forms_tags %}

<main >
    <div class = 'container wow fadeIn'>

        <h2 class='my=5 h2 text-center'>Pay Now</h2>

        <div class='row'>
            <div class='col-md-8 mb-4'>
                <div class='payment'>
                    <form>
                        {% csrf_token %}
                        {{form|crispy}}
                        <burtton class='btn btn-primary type' type='submit'></burtton>
                    </form>
                </div>
            </div>
        </div>